@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* .shadows-into-light-two-regular {
    font-family: "Shadows Into Light Two", cursive;
    font-weight: 400;
    font-style: normal;
  } */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;

}

html{
    /* margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; Hide horizontal scrollbar */
    background: #171830;
    font-size: 62.5%;

}



.section {
    position: relative;
    /* Set position to relative */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 10rem;
    color: #fff;

    width: 100%;
    height: 100vh;
    /* text-align: center; */
    font-family: Arial, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-content {
    position: relative;
    /* Set position to relative */
    z-index: 1;
    /* Set a higher z-index value */


}


.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-yt-video {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: 23px; */   
    /* it is media query */
}

.section-title {
    font-size: 3rem;
    margin-bottom: 8rem;

}

.section-para {
    font-size: 2.4rem;
    color: #080808;

}

.content {
    position: relative;
    /* width: 1150px; */
    width: 115rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.content-yt-video {
    position: relative;
    width: 115rem;
    /* width: 1150px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
/* for media query  */

}

.content .image-video {
    position: relative;
    width: 80rem;
    /* width: 800px; */
    /* height: 400px; */
    height: 40rem;
    overflow: hidden;


}

.info {
    width: 70rem;
    /* width: 700px; */
    /* margin-left: 50px; */
    margin-left: 5rem;
    
}
.info-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;

}






/* IMAGES */


.content .image-me {
    position: relative;
    width: 50rem;
    /* width: 500px; */
    /* height: 400px; */
    height: 40rem;
    overflow: hidden;

}


.content .image-main {
    position: relative;
    /* width: 800px;
    height: 400px; */
    width: 80rem;
    height: 40rem;
    overflow: hidden;

}


.content .image {
    position: relative;
    /* width: 800px;
    height: 400px; */
    width: 80rem;
    height: 40rem;
    overflow: hidden;

}




.content .image img {
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    /* border-radius: 10px; */
    border-radius: 1rem;
}


.content .image-me img {
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 10px; */
    border-radius: 1rem;
}


/* TEXT BOXES  */
.content .text-box-main {
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    /* padding: 40px; */
    padding: 4rem;
    /* max-width: 326px; */
    max-width: 32.6rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* border-radius: 10px; */
    border-radius: 1rem;
    transform: translate(-80px, 50px);
}


.content .text-box-main h3 {
    font-size: 2rem;
    /* margin-bottom: 10px; */
    margin-bottom: 1rem;

}

.content .text-box {
    z-index: 222;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    /* padding: 40px; */
    padding: 4rem;
    /* max-width: 400px; */
    max-width: 40rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* border-radius: 10px; */
    /* border-radius: 1rem; */
    transform: translate(-80px, 50px);
}


.content .text-box h3 {
    font-size: 2rem;
    /* margin-bottom: 10px; */
    margin-bottom: 1rem;

}


.media-info {
    /* width: 400px; */
    width: 40rem;
    /* margin-left: 50px; */
    margin-left: 5rem;

}

.media-info li {
    list-style: none;
    font-size: 1.4rem;

}

.media-info li a {
    color: #000000;
    text-decoration: none;

}

.media-info li:not(:last-child) {
    /* margin-bottom: 50px; */
    margin-bottom: 5rem;
}

.media-info li:nth-child(1),
.media-info li:nth-child(5) {
    /* padding-left: 100px; */
    padding-left: 10rem;
}

.media-info li:nth-child(2),
.media-info li:nth-child(4) {
    /* padding-left: 50px; */
    padding-left: 5rem;
}




.section1-content {
    position: relative;
    /* Set position to relative */
    z-index: 1;
    /* Set a higher z-index value */


}



#section2 {
    /* background-image: radial-gradient(circle, #0d5c48 0%, #114e5a 100%); */
    color: #ffffff;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/037/981/760/small_2x/ai-generated-of-solitary-tree-silhouetted-against-vibrant-sunset-standing-on-small-hill-surrounded-by-calm-waters-clouds-should-be-scattered-across-the-sky-ai-generated-photo.jpg");
}

#section3 {
    background-image: radial-gradient(circle, #9b4234 0%, #080808 100%);
    color: #ffffff;
}

#section4 {
    background-image: radial-gradient(circle, #072d30 0%, #11aac9 100%);
    color: #ffffff;
}

#section5 {
    background: rgb(0, 236, 255);
    background: radial-gradient(circle, rgb(2, 173, 185) 12%, rgb(119, 107, 155) 52%, rgba(0, 30, 36, 1) 100%);

}

#section6 {
    background: rgb(0, 30, 36);
    background: linear-gradient(90deg, rgba(0, 30, 36, 1) 0%, rgba(26, 9, 121, 1) 48%, rgba(0, 236, 255, 1) 100%);
    color: white;
}


/* 
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */



/* media queries started */




@media screen and (max-width: 600px) {
    /* .section{
        width: 146%;
    height: 146vh;
    } */

    html{
            font-size:45%;
            
    }
    .container {
        position: relative;
        display: flex;
        justify-content: center;
        /* margin-top: -96px; */
        margin-top: -9.6rem;
        align-items: center;
        flex-direction: column;
    }
    .content {
        position: relative;
        /* width: 537px; */
        width: 53.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .content .image-main {
        display: none;
    }
    .content .text-box-main {
        /* margin-left: 160px; */
        margin-left: 16rem;
        backdrop-filter: blur(10px);
    }

    .content .text-box-main h3 {
        font-size: 5rem;
    }
    .content .text-box-main-para{
        font-size: 2.4rem;
    }

    .content .image-me {
        position: static;
        width: 50rem;
        height: 40rem;
        /* width: 500px;
        height: 400px; */
        overflow: hidden;
    }
    .content .image-me img {
        border-radius: 50%;
        height: 76%;
        /* margin-top: 14px; */
        margin-top: 1.4rem;
    }
    .content .text-box {
        z-index: 222;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(50px);
        /* padding: 34px;   */
        padding: 3.4rem;  
        /* max-width: 516px; */
        max-width: 51.6rem;
        border: 1px solid rgba(255, 255, 255, 0.1);
        /* border-radius: 10px; */
        border-radius: 1rem;
        transform: translate(-80px, 50px);
        font-size: 1.7rem;
        /* margin-top: 388px; */
        /* margin-left: 66px; */
        margin-top: 38.8rem;
        margin-left: 6.6rem;
        
    }

    .content .text-box h3 {
        font-size: 2.6rem;
        /* margin-bottom: 3px; */
        margin-bottom: .3rem;
    }

   
   
}

@media screen and (max-width: 600px) {
    .container-yt-video{
        /* margin-bottom: 23px; */
        margin-bottom: 2.3rem;

    }
    .content-yt-video{
        flex-direction: column;
    }

    .content .image-video{
        /* margin-bottom: 24px; */
        margin-bottom: 2.4rem;
    }

    .section-title{
        /* margin-bottom: 20px; */
        margin-bottom: 2rem;
        font-size: 2rem;
        /* margin-top: 49px; */
        margin-top: 4.9rem;

    }

    .info{
        width: 24.6rem;
        margin-left: 2.1rem;
        /* width: 246px;
        margin-left: 21px; */
    }


}